<div class="container">
    <div class="d-flex justify-content-center">
        <h4>Add Users</h4>
    </div>
    <br>
    <div class="card" style="width: 15rem;">
        <img src="./assets/download.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <button type="submit" class="btn btn-primary" (click)="addUser()">Add</button>
        </div>
    </div>
</div>
<div class="modal" id="addUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Firebase Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm">
                    <div>
                        <div class="form-group p-2">
                            <input type="Name" class="form-control" formControlName="name" placeholder="Enter Name"
                                required>
                        </div>
                        <div class="form-group p-2">
                            <input type="Age" class="form-control" formControlName="age" placeholder="Enter Age"
                                required>
                        </div>
                        <textarea class="form-control" id="validationTextarea" formControlName="address"
                            placeholder="Enter the address" required></textarea>
                        <div class="invalid-feedback">
                            Please enter a message in the textarea.
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-dismiss="modal">close</button>
                <button type="button" class="btn btn-secondary" (click)="update()">Update</button>
                <button type="button" class="btn btn-primary" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>